<div class="form-popup" id="myForm" style="display: block;">
    <div class="goal-info">
        <div>
            <span class="title">NOMBRE DE LA META </span>
        </div>
        <div>
            <span class="subtitle">Descripcion </span>
            <input class="goal" type="description" placeholder=" "  formControlName="description">
        </div>
        <div>
            <span class="subtitle">Monto </span>
            <INPUT TYPE="NUMBER" MIN="0" MAX="1000" STEP="1" VALUE="0" SIZE="1">
        </div>
        <div>
            <span class="subtitle">Imagen </span>
            <form enctype="multipart/form-data" action="uploader.php" method="POST">
                <input name="uploadedfile" type="file" />
            </form>
        </div>
        <div class="last_space" style="float: right;">
            <button class="button_default">AÑADIR</button>
        </div>
    </div>
    
</div> 