<div class="container2">
    <br>aaa
    <div class="caja">
        <form class="my-form" (ngSubmit) = "onSubmit()" #lForm="ngForm" [formGroup] = "subForm" novalidate>
            
        <input class="input" type="currency" placeholder="Amount"  formControlName="amount">
        <input class="input" type="currentMoney" placeholder="cashFlowName"  formControlName="cashFlowName">
        <input class="input" type="currentSaves"  placeholder="color"  formControlName="color">
        <input class="input" type="savesPercent" placeholder="recurrent"  formControlName="recurrent">

        <div class="container-button">
            <button type="submit" class="signup-button">GUARDAR</button>
            <div *ngIf="error"> {{error}} </div>
            <div *ngIf="msg" > {{msg}} </div>
        </div>

        </form>
    </div>
</div>