<br><br>

<div class="container2">
    <div style="width:33.3%;">Saving Sheets</div>
    <div style="width:33.3%;">Categories</div>
    <div style="width:33.3%;">CashFlows</div>
</div>

<div class="container2">
    <div class="caja">
        <form class="my-form" (ngSubmit) = "onSavingSheets()" #lForm="ngForm" [formGroup] = "SheetsForm" novalidate>
        <label for="active">¿Activar hoja de ahorros?:</label>    
        <input class="input" input type=checkbox checked name=active placeholder="active"  formControlName="active">
        <input class="input" type="text" placeholder="Nombre de Hoja de ahorros"  formControlName="savingSheetsName">
        <input class="input" type="number"  placeholder="Periodo de duracion"  formControlName="period">
        <label for="start">Start date:</label>
        <input class="input" type="date" id="start" name="trip-start"
        value="2018-07-22"
        min="2018-01-01" max="2021-12-31" placeholder="startDate"  formControlName="startDate">
        
        <input class="input" type="time" id="appt" name="appt"
        min="09:00" max="18:00" placeholder="startTime"  formControlName="startTime" required>
        
        <label for="end">End date:</label>
        <input class="input" type="date" id="end" name="trip-start"
        value="2018-07-22"
        min="2018-01-01" max="2021-12-31" placeholder="endDate"  formControlName="endDate">

        <input class="input" type="time" id="endt" name="endt"
        min="09:00" max="18:00" placeholder="endTime"  formControlName="endTime" required>
        
        <div class="container-button">
            <button type="submit" class="signup-button">GUARDAR</button>
            <div *ngIf="error"> {{error}} </div>
            <div *ngIf="msg" > {{msg}} </div>
        </div>

        </form>
    </div>
    <div class="caja">
        <form class="my-form" (ngSubmit) = "onCategories()" #lForm="ngForm" [formGroup] = "CategoryForm" novalidate>
        <label for="idss">id del Saving Sheet al que desea agregar la categoria:</label>
        <input id= "idss" class="input" type="number" placeholder="id del Saving Sheet"  formControlName="id">
        <label for="nc">Nombre de la categoria:</label>
        <input id = "nc" class="input" type="text" placeholder="Nombre de la categoria"  formControlName="categoryName">
        <label for="pc">Prioridad de la categoria:</label>
        <input id="pc" class="input" type="number"  placeholder="Prioridad de la categoria"  formControlName="priority">

        <div class="container-button">
            <button type="submit" class="signup-button">GUARDAR</button>
            <div *ngIf="error"> {{error}} </div>
            <div *ngIf="msg" > {{msg}} </div>
        </div>

        </form>
    </div>
    <div class="caja">
        <form class="my-form" (ngSubmit) = "onCashFlows()" #lForm="ngForm" [formGroup] = "CashFlowForm" novalidate>
            
        <input class="input" type="number" placeholder="id de la categoria a la que desea agregar el cashflow"  formControlName="id">
        <input class="input" type="number" placeholder="amount"  formControlName="amount">
        <input class="input" type="text"  placeholder="cashFlowName"  formControlName="cashFlowName">
        <label for="select">Tipo:</label> 
        <select class="input" id="select" placeholder="color"  formControlName="color">
        <option value="Green">Ingreso</option>
        <option value="Red">Gastos</option>
        </select>
        <label for="recurrent">Recurrente:</label>    
        <input class="input" input type=checkbox checked name=recurrent placeholder="recurrent"  formControlName="recurrent">

        <div class="container-button">
            <button type="submit" class="signup-button">GUARDAR</button>
            <div *ngIf="error"> {{error}} </div>
            <div *ngIf="msg" > {{msg}} </div>
        </div>

        </form>
    </div>
</div>