<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

<footer class="footer" style="position: absolute; bottom: 0px; width: 100%; height: 2.5rem; padding-bottom: 2.5rem;">
    <div class="background">
        <div class="container">
            <div class="space ">
                <div class="margin-top">Email: <a href="mailto:UPCLSPE4@GMAIL.COM">   upce4@outlook.com  </a> </div>
                <div class="margin-top margin-right">Social media</div>
            </div>
            <div class="space margin-top2">
                <div>Teléfono: +51 956 230 225</div>
                <div class="lista-redes">
                    <a class="margin-left" href="https://www.facebook.com/LSPWebApp" target=”_blank”>   Facebook   </a> 
                    <a class="margin-left"  href="https://www.instagram.com/lspwebapp/" target=”_blank”>   Instagram   </a> 
                    <a class="margin-left"  href="https://twitter.com/LSPWebApp" target=”_blank”>   Twitter   </a>
                    
                </div>
            </div>
            <div class="space margin-top2">
                <span></span><span>Calle Los Palacios 987. San Isidro.</span>
            </div>
            <div class="space margin-top2">
                <div class="margin-bottom" >&copy; 2021 por E4</div>
                <div class="margin-bottom">LIMA, Perú</div>
            </div>
        </div>
    </div>
</footer>