.background{
    
    background-color: orange;
    
}
.container{
    margin-left: 50px;
    margin-right: 50px;
}
.Empresa{
    padding: 14px;
    font-size: 36px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
}
.green{
    color: green;
}
.space{
    display: flex;
    justify-content: space-between;
    color: #FEFEE2;
}
.margin-top{
    margin-top: 10px;
}
.margin-bottom{
    margin-bottom: 10px;
}
a{
    color: #FEFEE2;
}
.margin-right{
    margin-right: 80px;
}
.margin-left{
    margin-left: 40px;
}