<div class="dashboard">
    
    <div class="balance-g">
        <span class="text1">Balance General: </span>
        <span>moneda cantidad</span>
        <input type="text">METAS DE AHORRO
        <span>REPORTE</span>
        <span>AÑADIR CATEGORIA</span>
        <table>

        </table>
        <span>AÑADIR TRANSACCIÓN</span>
        <span>RESUMEN DE GASTOS POR CATEGORIA</span>
        <span>EDITAR TRANSACCION</span>
        
    </div>
    <button (click)="openSavingPlan()">Plan de Ahorros</button>
</div>