<div class="dashboard">
    <div class="welcome">
        <span>¡Bienvenido usuario!</span>
        <span>Cerrar sesión</span>
    </div>
    <div class="balance-g">
        <span>Balance General:</span>

        <div class="ingresos">
            <span>Ingresos</span>
            <input type="text">
        </div>

        <div class="gastos">
            <span>Gastos</span>
            <input type="text">
        </div>

        <span>Presupuestos</span>
        <input type="text">
    </div>
</div>