.text1{
    color:#4c956c;
    font-family: 'Anton';
    font-size:46px;
    letter-spacing: 3px;
}
.dashboard{
    margin-bottom: 3%;
}
.ana-cate{
    font-family: 'Oswald';
    text-align: center;
    font-size: 23px;
    height: 41px;
    width: 192px;
    margin: auto;
    background-color: #FFC9B9;
}
.pink-button{
    font-family: 'Oswald';
    text-align: center;
    font-size: 23px;
    height: 41px;
    width: 300px;
    margin: auto;
    background-color: #FFC9B9;
}
.yellow-button{
    font-family: 'Oswald';
    text-align: center;
    font-size: 23px;
    height: 57px;
    width: 364px;
    background-color: #ffe7b9;
}
.dinero{
    font-size: 34px;
    font-family: 'Oswald';
}
.b-left{
    justify-self: right;
}
.space{
    display: flex;
    justify-content: space-between;
}
.space2{
    display: flex;
    justify-content: space-around;
}
.marg{
    width: 50%;
}
.cent-vert{
    margin-top: auto;
    margin-bottom: auto;
}
.container1{
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.container2{
    margin-right: 4%;
    margin-left: 4%;
}
.caja{
    background-color: rgb(27, 134, 27);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.inp{
    margin: 10px;
    padding: 10px;
}
.cont-button{
    margin-top: 10px;   
}
.button-login{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    background-color: #FEC9B9;
}
table, th, td {
    margin-left: auto;
    margin-right: auto;
    
}
#t01 {
    position: relative;
    top: 25px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
#t01 th {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 10%;
    color:whitesmoke;
    padding: 45px;
    background-color:#d68c45;
    border: 1px solid black;
    border-collapse: collapse;
}
#t01 td {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 10%;
    border: 1px solid black;
    border-collapse: collapse;
}