<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

<style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    </style>

<div class="dashboard">
    
    <div class="balance-g">
        <div class="space container1">
            <div class="space2 marg cent-vert">
                <div>
                    <span class="text1 cent-vert">Balance General: </span>
                </div>
                <div class="cent-vert">
                    <span class="cent-vert dinero" id="money">S/ 542.75</span>
                </div>
                <div class="cent-vert">
                <a href="javascript:document.getElementById('money').style.display='none';void0"><img [src]="'assets/icons8-invisible-64.png'" width="30" alt="30"></a>
                <a href="javascript:document.getElementById('money').style.display='block';void0"><img [src]="'assets/icons8-eye-64.png'" width="30" alt="30"></a>
                </div>
            </div>
            <div>
                <button class="pink-button" (click)="openSavingPlan()">PLAN DE AHORRO</button>
            </div>  
        </div>
        <div class="container2">
            <div class="space cent-vert">
                <div class="space">
                    <span class="text1" style="font-size: 41px;">REPORTE</span>
                </div>
                <div class="space cent-vert" style="margin-top: 0%;">
                    <button class="ana-cate" style="margin-top: 21px;">AÑADIR CATEGORÍA</button>
                </div>
            </div>
            <div class="caja">
                <form class="my-form" (ngSubmit) = "onSubmit()" #lForm="ngForm" [formGroup] = "subForm" novalidate>
                    
                <input class="sign-input" type="currency" placeholder="Moneda"  formControlName="currency">
                <input class="sign-input" type="currentMoney" placeholder="Dinero Actual"  formControlName="currentMoney">
                <input class="sign-input" type="currentSaves"  placeholder="Dinero Ahorrado"  formControlName="currentSaves">
                <input class="sign-input" type="savesPercent" placeholder="Porcentaje A Ahorrar"  formControlName="savesPercent">

                <div class="container-button">
                    <button type="submit" class="signup-button">GUARDAR</button>
                    <div *ngIf="error"> {{error}} </div>
                    <div *ngIf="msg" > {{msg}} </div>
                </div>

                </form>
    
            </div>
            <div>
                <button class="pink-button" (click)= "openAddTransaction()">AÑADIR TRANSACCIÓN</button>
            </div>
            <div class="space">
                <span></span><button class="yellow-button">RESUMEN DE GASTOS POR CATEGORIA</button>
            </div>
            <div>
                <button class="pink-button">EDITAR TRANSACCIÓN</button>
            </div>
        </div>
    </div>
</div>
