<style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    </style>

<header class="head">
    <div class="background green">
        <div class="img" *ngIf="getRouter().url !== '/signup' && getRouter().url !== '/login' ">
            <img [src]="'assets/piggybank.png'" width="90"  alt="image">
        </div>
        <div class="header-content1">
            <a (click)="onClick()" class="Name">LifeStylePlanner</a>
        </div>
        <div class="msg" *ngIf="getRouter().url === '/signup' || getRouter().url === '/login'">
            <span>COMIENZA TU NUEVA VIDA FINANCIERA JUNTO CON NOSOTROS</span>
        </div>
        <div class="msg2" *ngIf="getRouter().url !== '/signup' && getRouter().url !== '/login' " >
            <div style="margin-right: 5%;">
            {{getUser().name }}
            </div>
             <span (click)="logout()"> Cerrar Sesión  </span>  
        </div>
    </div>
</header>