
.Name{
    margin: -10%;
    font-family: 'Anton';
    font-size: 390%;
    margin-left: 15%;
    color:#2c6e49;
}
.green{
    color:#4C956C;
}
.white{
    color:white;
}
.background{
    display: flex;
    background-color: #D68C45;
    
    
}
.header-content1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 110px;
}
.nav-login{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
a{
    text-decoration: none;
}
.msg{
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FEFEE3;
    margin: auto;
    margin-right: 80px;
    
}
.msg2{
    font-size: 16px;
    color: #FEFEE3;
    margin: auto;
    margin-right: 2%;
    display: flex;
    justify-content: space-around;
    width: 200px;
    font-family: 'Source Sans Pro';
}