
.Name{
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color:green;
}
.green{
    color:green;
}
.white{
    color:white;
}
.background{
    margin: -8px;
    background-color: orange;
    
}
.header-content1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}
.nav-login{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
a{
    text-decoration: none;
}