.text1{
    color:#4c956c;
    font-family: 'Anton';
    font-size:46px;
    letter-spacing: 3px;
}
.mis-datos{
    margin-bottom: 3%;
}
.ana-cate{
    font-family: 'Oswald';
    text-align: center;
    font-size: 23px;
    height: 41px;
    width: 192px;
    margin: auto;
    background-color: #FFC9B9;
}
.pink-button{
    font-family: 'Oswald';
    text-align: center;
    font-size: 23px;
    height: 41px;
    width: 300px;
    margin: auto;
    background-color: #FFC9B9;
}
.yellow-button{
    font-family: 'Oswald';
    text-align: center;
    font-size: 23px;
    height: 57px;
    width: 364px;
    background-color: #ffe7b9;
}
.dinero{
    font-size: 34px;
    font-family: 'Oswald';
}
.b-left{
    justify-self: right;
}
.space{
    display: flex;
    justify-content: space-between;
}
.space2{
    display: flex;
    justify-content: space-around;
}
.marg{
    justify-content: space-around;
}
.cent-vert{
    margin-top: auto;
    margin-bottom: auto;
}
.container1{
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.container2{
    margin-right: 4%;
    margin-left: 4%;
}