<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

<style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    </style>

<div class="mis-datos">
    
    <div class="balance-g">
        <div class="space container1">
            <div>
                <span class="text1 cent-vert">Mis Datos</span>
            </div>
            <div class="cent-vert">
                <button style="height: 40px; width: 90px; font-family: 'Source Sans Pro';">Subscribirse</button>
            </div>
        </div>
        <div class="container2">
            <div class="space cent-vert">
                <div class="space">
                    <span class="text1" style="font-size: 41px;">REPORTE</span>
                </div>
                <div class="space cent-vert" style="margin-top: 0%;">
                    <button class="ana-cate" style="margin-top: 21px;">AÑADIR CATEGORÍA</button>
                </div>
            </div>
            <table>
    
            </table>
            <div>
                <button class="pink-button">AÑADIR TRANSACCIÓN</button>
            </div>
            <div class="space">
                <span></span><button class="yellow-button">RESUMEN DE GASTOS POR CATEGORIA</button>
            </div>
            <div>
                <button class="pink-button">EDITAR TRANSACCIÓN</button>
            </div>
        </div>
    </div>
</div>