.text1{
    color:#4c956c;
    font-family: 'Anton';
    font-size:46px;
    letter-spacing: 3px;
}
.mis-datos{
    margin-bottom: 3%;
}
.ana-cate{
    font-family: 'Oswald';
    text-align: center;
    font-size: 23px;
    height: 41px;
    width: 192px;
    margin: auto;
    background-color: #FFC9B9;
}
.space{
    display: flex;
    justify-content: space-between;
}
.space2{
    display: flex;
    justify-content: space-around;
}
.marg{
    justify-content: space-around;
}
.cent-vert{
    margin-top: auto;
    margin-bottom: auto;
}
.container1{
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.container3{
    margin-right: 2%;
    margin-left: 2%;
}

.widthTercio{
    width: 33.3333333333%;
}
.text-center{
    text-align: center;
    font-family: 'Oswald';
    font-size: 30px;
    background-color: #d68c45;
}
.text-box{
    font-family: 'Oswald';
    font-size: 30px;
    background-color: #d68c45;
}