<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<div class="container">
    <form class="my-form" (ngSubmit)="onSubmit()"
    #lForm="ngForm" [FormGroup]="subForm" novalidate>
        <input class="goal-input" type="description" placeholder="Descripción" formControlName="description">
        <input class="goal-input" type="money-goal" placeholder="Costo" formControlName="money-goal">
        <div class="container-buton">
            <button type="submit" class="AddGoal-button">AÑADIR</button>
            <div *ngIf="error">{{error}}</div>
            <div *ngIf="msg">{{msg}}</div>
        </div>
    
    </form>
</div>

