.add-goal{
    margin-bottom: 3%;
}
.title{
    color:#4c956c;
    font-family: 'Anton';
    font-size:46px;
    letter-spacing: 5px;
}
.subtitle{
    color:#000000;
    font-family: 'Open Sans Condensed';
    font-size:25px;
}
.button_default{
    position: absolute;
    right: 10px;
    top:200px;
    font-family: 'Oswald';
    text-align: center;
    font-size: 23px;
    height: 41px;
    width: 192px;
    background-color: #FFC9B9;
    cursor: pointer;
}
