<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<div class="saving-goals">
    <div>
        <span class="text1 cent-vert">METAS DE AHORRO </span>
    </div>
    <div>
        <button class ='goal-image1' (click)="goalInfo1()"><img [src]="'assets/test/prov1.jpg'" width="100" alt="100" id="img1"></button>
        <button class ='goal-image2' (click)="goalInfo2()"><img [src]="'assets/test/prov2.jpg'" width="100" alt="100" id="img2"></button>
        <button class ='goal-image3' (click)="goalInfo3()"><img [src]="'assets/test/prov3.jpg'" width="100" alt="100" id="img3"></button>
        <button class ='goal-image4' (click)="goalInfo4()"><img [src]="'assets/test/prov4.jpg'" width="100" alt="100" id="img4"></button>
        <button class ='goal-image5' (click)="goalInfo5()"><img [src]="'assets/test/prov5.jpg'" width="100" alt="100" id="img5"></button>

    </div>
    <div class="space cent-vert" style="margin-top: 0%;">
        <button class="ana-cate"  style="margin-top: 21px;"(click)="onClick()">AGREGAR META</button>
    </div>
    <div class="space cent-vert" style="margin-top: 0%;">
        <button class="resumen" style="margin-top: 21px" >RESUMEN DE METAS</button>
    </div>
    <div class="last_space" style="float: right;">
        <button class="button_default"  (click)="Back()">VOLVER</button>
    </div>
</div>