<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<div class="saving-goals">
    <div>
        <span class="text1 cent-vert">METAS DE AHORRO </span>
    </div>
    <div class="space cent-vert" style="margin-top: 0%;">
        <button class="ana-cate"  style="position:relative; left:1560px;top: 41px;"(click)="onClick()">AGREGAR META</button>
    </div>
    <div class="space cent-vert" style="margin-top: 0%;">
        <button class="resumen" style="position:relative; left:1350px" >RESUMEN DE METAS</button>
    </div>
</div>