.text1{
    color:#4c956c;
    font-family: 'Anton';
    font-size:46px;
    letter-spacing: 3px;
   
}
.ana-cate{
    font-family: 'Oswald';
    text-align: center;
    font-size: 23px;
    height: 41px;
    width: 192px;
    margin: auto;
    background-color: #FFC9B9;
    cursor: pointer;
   
}
.resumen{
    font-family: 'Oswald';
    text-align: center;
    font-size: 23px;
    height: 41px;
    width: 192px;
    margin: auto;
    background-color: #FFC9B9;
    cursor: pointer;
  
}
.goal-image{
    cursor: pointer;
}
.button_default{
    position: absolute;
    right: 10px;
    top:370px;
    font-family: 'Oswald';
    text-align: center;
    font-size: 23px;
    height: 41px;
    width: 192px;
    background-color: #FFC9B9;
    cursor: pointer;
}