.text1{
    color:#4c956c;
    font-family: 'Anton';
    font-size:46px;
    letter-spacing: 3px;
   
}
.ana-cate{
    font-family: 'Oswald';
    text-align: center;
    font-size: 23px;
    height: 41px;
    width: 192px;
    margin: auto;
    background-color: #FFC9B9;
   
}
.resumen{
    font-family: 'Oswald';
    text-align: center;
    font-size: 23px;
    height: 41px;
    width: 192px;
    margin: auto;
    background-color: #FFC9B9;
  
}