<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<div class="saving-goals">
    <div>
        <span class="text1 cent-vert">METAS DE AHORRO </span>
    </div>
    <div>
        <button class ='goal-image' (click)="goalInfo()"><img [src]="'assets/icons8-unchecked-checkbox-80.png'" width="100" alt="100" id="img"></button>
    </div>
    <div class="space cent-vert" style="margin-top: 0%;">
        <button class="ana-cate"  style="margin-top: 21px;"(click)="onClick()">AGREGAR META</button>
    </div>
    <div class="space cent-vert" style="margin-top: 0%;">
        <button class="resumen" style="margin-top: 21px" >RESUMEN DE METAS</button>
    </div>
    <div class="last_space" style="float: right;">
        <button class="button_default"  (click)="Back()">VOLVER</button>
    </div>
</div>