<div class="saving-plan">
    <table>
        <thead>
            <td><b>Moneda</b></td>
            <td><b>Dinero Actual</b></td>
            <td><b>Dinero Ahorrado</b></td>
            <td><b>Porcentaje Ahorrado</b></td>
            <td><b>Metas de Ahorro</b></td>
        </thead>
        <tr>
            <td>{{this.savingPlansid[1].currency}}</td>
            <td>{{this.savingPlansid[1].currentMoney}}</td>
            <td>{{this.savingPlansid[1].currentSaves}}</td>
            <td>{{this.savingPlansid[1].savesPercent}}</td>
        </tr>
    </table>
    
    <div>
        <button class="pink-button" (click)="openSavingGoals()">METAS DE AHORRO</button>
    </div>  

</div>