<div class="saving-plan">
    <table>
        <thead>
            <td><b>Moneda</b></td>
            <td><b>Dinero Actual</b></td>
            <td><b>Dinero Ahorrado</b></td>
            <td><b>Porcentaje Ahorrado</b></td>
            <td><b>Metas de Ahorro</b></td>
        </thead>
        <tr *ngFor="let sp of savingPlans; let i = index">
            <td>{{getPlan.currency}}</td>
            <td>{{getPlan.currentMoney}}</td>
            <td>{{getPlan.currentSaves}}</td>
            <td>{{getPlan.savesPercent}}</td>
        </tr>
    </table>
    
    <div>
        <button class="pink-button" (click)="openSavingGoals()">METAS DE AHORRO</button>
    </div>  

</div>