<section class="page-signup background">
    <div class="pet">
        <img [src]="'assets/piggybank.png'" width="340"  alt="image">
    </div>
    <div class="container">
        <div class="my-signup">

            <div class="signup-msg">
                <span>¡Crea tu cuenta en lifestyleplanner ahora!</span>
                <br>
                <span>Solo te tomará unos segundos</span>
            </div>
            
            <div class="my-form">
                <label for="name">
                    <input class="sign-input" placeholder="Usuario" type="name" [formControl]="name">
                </label>
        
                <label for="email">
                    <input class="sign-input" type="email" placeholder="Correo electronico" type="email" [formControl]="">
                </label>
        
                <label for="celular">
                    <input class="sign-input" type="number" placeholder="Celular" type="celular" [formControl]="">
                </label>
        
                <label for="contraseña">
                    <input class="sign-input" type="password"  placeholder="Contraseña" type="contraseña" [formControl]="">
                </label>
                <div class="container-button">
                    <button class="signup-button">REGISTRATE GRATIS</button>
                </div>

                <nav class="nav-login">
                    <span class="white">¿Ya tienes cuenta?</span>
                    &nbsp;
                    <a (click)="onClick()" class="white"> <b>Haz click aqui</b> </a>
                </nav>
    
    
            </div>
            
    
        </div>


    </div>

    
    



</section>

<div class="beneficios">

    <div class="green">
        <span>Registro gratuito sin suscripción</span>
    </div>

    <div class="green">
        <span>Contamos con 3 tipos de moneda</span>
    </div>

    <div class="green">
        <span>Hojas de ahorro personalizables</span>
    </div>


</div>