<section class="page-signup background">
    <div class="pet" >
        <img [src]="'assets/piggybank.png'" width="340"  alt="image">
    </div>
    <div class="container">
        <div class="my-signup">

            <div class="signup-msg">
                <span>¡Crea tu cuenta en lifestyleplanner ahora!</span>
                <br>
                <span>Solo te tomará unos segundos</span>
            </div>
            
            <form class="my-form" (ngSubmit) = "onSubmit()"
            #lForm="ngForm" [formGroup]="subForm" novalidate>
       
                <input class="sign-input" type="name" placeholder="Nombre de Usuario"  formControlName="name">
                <input class="sign-input" type="email" placeholder="Correo electronico"  formControlName="email">
                <input class="sign-input" type="password"  placeholder="Contraseña"  formControlName="pass">
                <input class="sign-input" type="text" placeholder="Celular"  formControlName="phone">
                
                <select class="sign-input" type="text" placeholder="EMPLOYED/UNEMPLOYED" formControlName="EmploymentStatus">
                    <option value="EMPLOYED">EMPLOYED</option>
                    <option value="UNEMPLOYED">UNEMPLOYED</option>
                </select>
               
                <div class="container-button">
                    <button type="submit" class="signup-button">REGISTRATE GRATIS</button>
                    <div *ngIf="error"> {{error}} </div>
                    <div *ngIf="msg" > {{msg}} </div>
                </div>

                <nav class="nav-login">
                    <span class="white">¿Ya tienes cuenta?</span>
                    &nbsp;
                    <a (click)="onClick()" class="white"> <b>Haz click aqui</b> </a>
                </nav>
                <app-login-pop-up *ngIf="showLogin"></app-login-pop-up>

    
            </form>
            
    
        </div>


    </div>

    
    



</section>

<div class="beneficios">

    <div class="green">
        <span>Registro gratuito sin suscripción</span>
    </div>

    <div class="green">
        <span>Contamos con 3 tipos de moneda</span>
    </div>

    <div class="green">
        <span>Hojas de ahorro personalizables</span>
    </div>


</div>